/backend/venv/
/backend/app/__pycache__/
backend/.env
!.env.example
.DS_Store
__pycache__/
*.py[cod]
*$py.class
/frontend/.env
/frontend/node_modules/
# IDE
.vscode/
.idea/
!/backend/alembic/
!backend/alembic/env.py
!backend/alembic/alembic.ini
!backend/alembic/script.py.mako
