/backend/venv/
/backend/app/__pycache__/
.env
!.env.example
.DS_Store
__pycache__/
*.py[cod]
*$py.class
# IDE
.vscode/
.idea/
/backend/alembic/versions/
!/backend/alembic/
!backend/alembic/env.py
!backend/alembic/alembic.ini
!backend/alembic/script.py.mako
